/*Estilização do BODY do site*/
html, body {
      margin: 0;
      padding: 0;
      min-height: 100vh;
      width: 100%;
    }
body {
    font-family: 'Montserrat', sans-serif;
    background-image: url(../img/fundo.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}
/* -------- INTERFACE GERAL -------- */
.interface {
    width: auto;
    margin: 0 75px;
}

/* -------- HEADER -------- */
header {
    width: 100%;
    padding: 25px 0;
    background-color: #042138;
    z-index: 10;
}

header .interface {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* -------- LOGO -------- */
header .logo img {
    max-width: 120px;
}

/* -------- MENU DESKTOP -------- */
.menu-desktop ul {
    list-style: none;
}

.menu-desktop ul li {
    display: inline-block;
    margin: 0 40px;
    font-size: 1.5em;
}

.menu-desktop ul li a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    transition: 0.2s;
}

.menu-desktop ul li a:hover {
    transform: scale(1.05);
}

/* -------- BOTÃO CONTATO -------- */
.btn-contato button {
    width: 130px;
    height: 40px;
    background-color: transparent;
    color: #fff;
    border: 1px solid white;
    cursor: pointer;
    transition: 0.3s;
    font-size: 1em;
    border-radius: 8px;
}

.btn-contato button:hover {
    background-color: #fff;
    color: #042138;
    font-weight: bold;
}

/* -------- MENU MOBILE ÍCONE -------- */
.menu-mobile-icon {
    display: none;
    font-size: 35px;
    cursor: pointer;
    color: white;
}

/* -------- MENU MOBILE -------- */
.menu-mobile {
    display: none;
    position: absolute;
    top: 80px;
    right: 0;
    width: 200px;
    background: #03192b;
    padding: 20px 10px;
    border-radius: 0 0 0 10px;
}

.menu-mobile ul {
    list-style: none;
    padding: 0;
}

.menu-mobile ul li {
    margin-bottom: 15px;
}

.menu-mobile ul li a {
    color: white;
    font-size: 18px;
    text-decoration: none;
}

.menu-mobile ul li a:hover {
    text-decoration: underline;
}

/* -------- RESPONSIVIDADE -------- */
@media (max-width: 850px) {

    /* esconde itens do desktop */
    .menu-desktop,
    .btn-contato {
        display: none;
    }

    /* mostra o ícone do mobile */
    .menu-mobile-icon {
        display: block;
    }
}
@media (min-width: 851px) {
    .menu-mobile {
        display: none !important;
    }
}
/*Banner do Site*/
.banner {
    width: 100%;
    height: 80%;
    background-image: url("../img/Banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}
.banner .interface{
    display: flex;
    align-items: center;
    height: 100%;
    color: rgb(102, 2, 2);
    text-align: center;
    justify-content: center;/*alinha a escrita ao centro*/
    
}
@font-face {
    font-family: "pesca";
    src: url(../fontes/Poppins-Black.ttf);
}
.banner .txt-banner h1{
    font-size: 4em;
    font-weight: 1000;
    color: #fff;
    font-family: "pesca";
    -webkit-text-stroke-width: 4.3px;/*comando para fazer uma borda na escrita*/
    -webkit-text-stroke-color: #0b213b;/*cor da borda*/
    letter-spacing: -3px;
    line-height: 55px;
    margin: 0px 0px 10px;
}
.banner .txt-banner h1 span{
    display: block;/*pula oque está depois do span para proxima linha*/
}
.banner .txt-banner p{
    color: #0b213b;
    font-size: 1.5em;
    margin: 10px 0 10px;
    font-family: "pesca";
    -webkit-text-stroke-width: 0.6px;/*comando para fazer uma borda na escrita*/
    -webkit-text-stroke-color: #fff;/*cor da borda*/
    font-weight: 800;
}
.botao_banner{
    font-family: "pesca";
    margin: 0px 0;
    text-decoration: none;
    color: white;
    font-size: 1em;
    -webkit-text-stroke-width: 0.6px;/*comando para fazer uma borda na escrita*/
    -webkit-text-stroke-color: #021a2f;/*cor da borda*/
    background: linear-gradient(#021a2f,#156a93);
    padding: 7px 65px;
    border-radius: 8px;
    border: 0.5px solid transparent;
    cursor: pointer;
    box-shadow: 5px 10px 10px rgba(0,0,0,0.10);
    transition: 0.5s;
}
.botao_banner:hover{
    background:linear-gradient(#156a93,#fff);
    color: #021a2f;
    font-weight: bold;
    -webkit-text-stroke-width: 0.6px;/*comando para fazer uma borda na escrita*/
    -webkit-text-stroke-color: #156a93;/*cor da borda*/
}
/*imagem minha e do meu pai + TEXTO*/
.img_sobrenos {  
    width: 25%;
    float: left;
    padding: 5;
    
}
.titulo_principal{
    color: #03192b;
    font-family: 'Montserrat', sans-serif;
}
.texto_historia {
    text-align: justify;
    font-family: "Open Sans", sans-serif;
}
.titulo_sobrenos {
    margin: 50px;
    text-align: center;
    width: 70%;
    margin-left: 14%;
    font-size: 20;
    
}
/*Estilização da sessão NOSSO ESTABELECIMENTO*/
.mapaGeral {
    background:linear-gradient();
    
}
.mapaGeral {
    text-align: center;
    text-decoration: underline;
    font-family: 'Montserrat', sans-serif;
    color: #03192b;
    font-size: 20;
    
}
.nossosprodutos {
    padding: 1%;
    text-align: center;
    color: #03192b;
    font-size: 20;
}
.div_nossosprodutos{
    width: 70%;
    margin-left: 7%;
}
.lista_nossosprodutos{
    width: 40%;
    color: white;
    display: inline-block;
    vertical-align: top;
    list-style: none;
    font-weight: 700;
}
.lista_nossosprodutos li{
    line-height: 2;
}
.lista_nossosprodutos li:before{
    content: "≈ ";
}
.img_Produtos{
    width: 30%;
    border-radius: 8px;
    box-shadow: 10px 10px 5px 0px white;
    opacity: 1;
    transition: 100ms;

}
.img_Produtos:hover{
    opacity: 0.8;
}
.video{
    padding: 40px 0 0 10px;
    justify-content: center;
}
/*Estilização do footer(rodapé)*/
footer{
    background: url("../img/rodape.png");/*imagem do rodapé*/
    background-size: cover;
    background-position: center;
    background-color: rgba(0,0,0,0.6);
    background-blend-mode: darken;
    padding: 0px 5px 1px 0px;
    
}
footer p{
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-align: right;

}
footer i {
    color: white;
}
.logo_footer {
    width: 7%;
    padding-left: 90%;
    
}




