/*Estilização do BODY do site*/
body {
    margin: 0;
    border: 0;
    font-family: 'Cambria';
}
.logo {
    width: 9%;
    margin: 5px;
}
/*Estilização do header do site*/
header {
    background-color: #5271ff;
}
/*Estilização da DIV do header*/
.divHeader {
    position: relative;
    margin: auto;
    padding-bottom: 80px;

}
/*Estilização do MENU do site*/
nav {
    position: absolute;
    top: 35px;
    right: 100;
}
nav li {
    display: inline;
    color: white;
    font-size: 20;
    margin-right: 130;
}
/*Banner do Site*/
.banner {
    width: 100%;
    height: 370;
    object-fit: cover;
}
/*imagem minha e do meu pai + TEXTO*/
.img_sobrenos {  
    width: 25%;
    float: left;
    

}
.fundohistoria {
    padding: 4;
    background:linear-gradient(#ffedff,#e0a1ff,#b680f8,#8d5ff1,#633dea,#391ce2);
    
}

.titulo_sobrenos {
    margin: 50;
    text-align: center;
    width: 70%;
    margin-left: 15%;
    font-size: 20;
    font-family: 'Cambria';
}
/*Estilização da sessão NOSSO ESTABELECIMENTO*/
.mapaGeral {
    background:linear-gradient();
   
}
.mapaGeral {
    text-align: center;
    text-decoration: underline;
    font-family: 'Cambria';
    color: red;
    font-size: 20;
}
.nossosprodutos {
    padding: 1%;
    text-align: center;
    color: #092442;
    font-size: 20;
}
.div_nossosprodutos{
    width: 70%;
    margin-left: 10%;
}
.lista_nossosprodutos{
    width: 40%;
    color: white;
    display: inline-block;
    vertical-align: top;
    list-style: none;
    
}
.lista_nossosprodutos li{
    line-height: 2;
}
.lista_nossosprodutos li:before{
    content: "≈ ";
}
.img_Produtos{
    width: 30%;
    border-radius: 8px;
    box-shadow: 10px 10px 5px 0px white;
    opacity: 1;
    transition: 100ms;

}
.img_Produtos:hover{
    opacity: 0.8;
}
.video{
    padding: 5% 0 0 0%;
}






    
    
