/*cabeçalho do site*/
html, body {
      margin: 0;
      padding: 0;
      min-height: 100vh;
      width: 100%;
      font-family: 'Montserrat', sans-serif;
}
body {
    font-family: 'Montserrat', sans-serif;
    background-image: url(../img/fundo.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;

}
/* -------- INTERFACE GERAL -------- */
.interface {
    width: auto;
    margin: 0 75px;
}

/* -------- HEADER -------- */
header {
    width: 100%;
    padding: 25px 0;
    background-color: #042138;
    z-index: 100;
}

header .interface {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* -------- LOGO -------- */
header .logo img {
    max-width: 120px;
}

/* -------- MENU DESKTOP -------- */
.menu-desktop ul {
    list-style: none;
}

.menu-desktop ul li {
    display: inline-block;
    margin: 0 40px;
    font-size: 1.5em;
}

.menu-desktop ul li a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    transition: 0.2s;
}

.menu-desktop ul li a:hover {
    transform: scale(1.05);
}

/* -------- BOTÃO CONTATO -------- */
.btn-contato button {
    width: 130px;
    height: 40px;
    background-color: transparent;
    color: #fff;
    border: 1px solid white;
    cursor: pointer;
    transition: 0.3s;
    font-size: 1em;
    border-radius: 8px;
}

.btn-contato button:hover {
    background-color: #fff;
    color: #042138;
    font-weight: bold;
}

/* -------- MENU MOBILE ÍCONE -------- */
.menu-mobile-icon {
    display: none;
    font-size: 35px;
    cursor: pointer;
    color: white;
}

/* -------- MENU MOBILE -------- */
.menu-mobile {
    display: none;
    position: absolute;
    top: 80px;
    right: 0;
    width: 200px;
    background: #03192b;
    padding: 20px 10px;
    border-radius: 0 0 0 10px;
    z-index: 100;
}

.menu-mobile ul {
    list-style: none;
    padding: 0;
}

.menu-mobile ul li {
    margin-bottom: 15px;
}

.menu-mobile ul li a {
    color: white;
    font-size: 18px;
    text-decoration: none;
}

.menu-mobile ul li a:hover {
    text-decoration: underline;
}

/* -------- RESPONSIVIDADE -------- */
@media (max-width: 850px) {

    /* esconde itens do desktop */
    .menu-desktop,
    .btn-contato {
        display: none;
    }

    /* mostra o ícone do mobile */
    .menu-mobile-icon {
        display: block;
    }
}
@media (min-width: 851px) {
    .menu-mobile {
        display: none !important;
    }
}

/*cabeçalho do site acima #042138 */
.titulo_produtos{
    color: #01101c;
    margin: 50;
    text-align: center;
    width: 70%;
    margin-left: 14%;
    font-size: 20;
    font-family: 'Cambria';
}
.texto_produtos{
    font-family: "Open Sans", sans-serif;
    color: #01101c;
}

/* Área de busca */
.search-area {
    width: 100%;
    text-align: center;
    margin: 25px 0;
    position: relative;
}

#searchBar {
    width: 60%;
    padding: 12px 15px;
    border: 1px solid #ccc;
    border-radius: 25px;
    font-size: 16px;
    outline: none;
    transition: 0.2s;
}

#searchBar:focus {
    border-color: #0066cc;
}

/* Lista de sugestões */
#suggestions {
    list-style: none;
    padding: 0;
    margin-top: 5px;
    width: 60%;
    background: white;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    max-height: 250px;
    overflow-y: auto;
    border: 1px solid #e0e0e0;
    display: none;
    z-index: 1;
}

#suggestions li {
    padding: 10px;
    cursor: pointer;
}

#suggestions li:hover {
    background: #f3f3f3;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 20px;
}
.card{
    background: #fff;
    width: 260px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,4);
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
    
}
.card:hover{
    transform: scale(1.05);
}
.card img{
    width: 90%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}
.card h2{
    margin: 10px 0;
}
.preco{
    font-size: 18px;
    font-weight: bold;
    color: #1465bb;
}
/*---------------------*/
main script p{
    color: #48ff00 ;
}



/*rodapé do site*/
footer{
    background: url("../img/rodape.png");/*imagem do rodapé*/
    background-size: cover;
    background-position: center;
    background-color: rgba(0,0,0,0.6);
    background-blend-mode: darken;
    padding: 0% 5% 1px 0%;
    
}
footer p{
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-align: right;

}
footer i {
    color: white;
}
.logo_footer {
    width: 7%;
    padding-left: 90%;
    
}
/*rodapé do site acima*/